/.vscode
/node_modules
/~yt-dlp/*.mp3
/~yt-dlp/*.mp4
/~yt-dlp/*.png
/~yt-dlp/*.jpg
/~yt-dlp/*.ini
/~yt-dlp/*.vtt
/~yt-dlp/*.ps1
/~yt-dlp/*.mkv
/~yt-dlp/*.webm
/~yt-dlp/*.webp
/~yt-dlp/*.zip
/~yt-dlp/*.json
/~loopMedia
/~vidToGIF
/~reverseMedia
/~reduceMediaDimensions
/~extractAudio