/.vscode
/node_modules
/~data
/scripts
/~outputScripts
/~yt-dlp/*.mp3
/~yt-dlp/*.mp4
/~yt-dlp/*.png
/~yt-dlp/*.jpg
/~yt-dlp/*.ini
/~yt-dlp/*.vtt
/~yt-dlp/*.ps1
/~yt-dlp/*.mkv
/~yt-dlp/*.webm
/~yt-dlp/*.webp
/~yt-dlp/*.zip
/~loopMP4/*.mp4
/~loopMP4/*.ps1
